body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #666;
    color: white;
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
}

footer {
    background-color: #666;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.container {
    display: flex;  
}

nav {
    width: 230px;
    background-color: #ddd;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    background-color: #aaa;
    padding: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #888;
}

main {
    flex: 1;
    padding: 20px;
}

main h1 {
    font-size: 26px;
    margin-top: 0;
}
